<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dog Breed Reconnaissance</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/reconBreed/styles.css">
</head>

<body>
<div class="container">
    <h1>
        Looks like the breed: {{ breed }}
    </h1>
    <p>Here's your image:</p>
    {{ img_face|safe }}
    <br />
    <a class="btn" href="{% url 'index' %}">Return to home</a>
</div>
</body>